* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #8ACE00;
    color: black;
    font-family: 'Tahoma', sans-serif;
}

.container {
    text-align: center;
    overflow: hidden;
}

.message {
    font-size: 3rem;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 3s forwards;
}
button#openYouTube {
    padding: 10px 20px;
    font-size: 16px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button#openYouTube2{
    padding: 10px 20px;
    font-size: 16px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: lightblue;
}




@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
